<%=form_for @order, :html => {class: "form-horizontal-center well"} do |f| %>

<div class="form-group">
  <%=f.label :customer, class: "col-xs-offset-4 col-xs-4"%>

  <div class="col-xs-offset-4 col-xs-8">
    <%=f.text_field :customer, class: "form-control"%>
  </div>

</div>

<div class="form-group">
  <%=f.fields_for :products do |ff|%>

  <div id="product_list">
    <div class="col-xs-4">
        <%=ff.label :quantity %>
        <%=ff.text_field :quantity, class: "form-control"%>
    </div>
    <div class="col-xs-4">
        <%=ff.label :price%>
        <%=ff.text_field :price, class: "form-control"%>
    </div>
    <div class="col-xs-4">
        <%=ff.label :name%>
        <%=ff.text_field :name, class: "form-control tags"%>
    </div>

  </div>

</div>
<%end%>

<div class="col-xs-offset-4">
  <a class="btn btn-default btn-primary buttonss", id="addItems">Add Item</a>
</div>

<div class="col-xs-offset-4">
  <%=f.submit class: "btn btn-default btn-primary buttonss"%>
</div>
<%end%>


<div id="log"></div>
